{{{ extends("layout", {
	title = "Test Title",
	h1 = "Test H1"
}) }}}



{{{ start_section("body") }}}
<p>{{ test }}</p>
<ul>
	{{{ for i = 1,3 do }}}
	<li>{{ i }}</li>
	{{{ end }}}
</ul>

{{{ end_section() }}}
